* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Aclonica", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #0a0c00;
  color: #ffffff;
}

header {
  background-color: black;
  position: relative;
  z-index: 10;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content a {
  text-decoration: none;
  color: white;
  font-family: "Aclonica", sans-serif;
}
header .header-content ul {
  list-style: none;
}
header .header-content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content nav .nav-content {
  display: flex;
  gap: 50px;
}
header .header-content nav .nav-content .nav-menu {
  padding: 30px 0;
  position: relative;
}
header .header-content nav .nav-content .nav-menu .dropdown-menu {
  padding: 20px 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  transform: scale(1, 0);
  transition: all 0.3s;
  transform-origin: 0px 0px;
}
header .header-content nav .nav-content .nav-menu .dropdown-menu li {
  padding: 0 20px;
  margin-bottom: 10px;
}
header .header-content nav .nav-content .nav-menu .dropdown-menu li a {
  display: inline-block;
  transform: translateX(0);
  transition: all 0.4s;
}
header .header-content nav .nav-content .nav-menu .dropdown-menu li:hover a {
  transform: translateX(20px);
  color: #00df8e;
}
header .header-content nav .nav-content .nav-menu:hover .dropdown-menu {
  visibility: visible;
  transform: scale(1);
}
header .header-content nav button {
  border-radius: 50%;
  background-color: #00df8e;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: none;
  transition: all 0.3s;
  flex-direction: column;
  row-gap: 3px;
  margin-left: 195px;
}
header .header-content nav button:hover span:nth-child(2) {
  width: 14px;
}
header .header-content nav button span {
  width: 20px;
  height: 2px;
  background-color: #0a0c00;
  transition: all 0.4s;
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: black;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 10000;
}
aside .logo-aside {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid rgb(63, 59, 59);
}
aside .logo-aside button {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
aside .logo-aside button:hover {
  background-color: white;
  color: black;
}
aside .office-address,
aside .phone-number,
aside .email-adddress,
aside .social {
  padding: 15px 0;
  width: 70%;
}
aside h4 {
  font-family: "Aclonica", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
aside p {
  margin-bottom: 3px;
}
aside .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .social .socia-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}
aside .social .socia-list li {
  flex: 1;
  display: flex;
  justify-content: center;
}
aside .social .socia-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
aside .social .socia-list li a i {
  font-size: 1.2rem;
}
aside .social .socia-list li a:hover {
  background-color: #fff;
  color: #000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}/*# sourceMappingURL=style.css.map */