// Color
$color-green-theme: #00df8e;
$color-black-theme: #0a0c00;
$color-white-theme: #ffffff;

// Font
$fs-h1: 120px;
$fs-h2: 60px;
$fs-h3: 28px;
$fs-base: 18px;
$fs-navigation: 16px;
$fs-dropdown: 26px;

$fw-title: bold;
